.nav li {
  display: inline-block;
  padding-right: 25px;
}

.nav li a {
  color: #00008B;
  text-decoration: none;
  font-weight: bold;
}

.jumbotron {
  background-image:url('https://raw.githubusercontent.com/amitzman/amitzman.github.io/master/imgs/abu.jpg');
  height: 700px;
  background-repeat: none;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h2 {
  color: #fff;
  font-size: 30px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

input, textarea {
  padding-right: 10px;
  border: 1px solid #E5E5E5;
  width: 200px;
  color: #999999;
}

textarea{
height:150px;
width:400px;
max-width: 400px;
}

.form label {
  margin-left: 10px;
  color:#999999;
}

.submit input{
width:100px;
height:40px;
background-color:#474E69;
color: white;
}



form {
  width:50%;
  margin-right: auto;
  margin-left: auto;
}



.contactlist {
  list-style-type: none;
}

.contactlist li {
  padding-left: 10px;
}

aside img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

footer {
  height: 30px;
  position: relative;
  /*bottom: 0px;*/
  /*width: 100%;*/
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 100px;
  border-top: 1px solid #00008B;
}

footer nav {
  text-align: center;
}

footer nav a {
  text-decoration: none;
  padding: 25px;
  font-weight: bold;
  color: #00008B;
}